@{
    ViewData["Title"] = "Kütüphane Giriş Ekranı";
}

<div class="text-center">
    <h1 class="display-4">Kütüphane Giriş Ekranı</h1>
    <p><a href="@Url.Action("Login", "Account")">Giriş yapınız.</a> </p>
</div>
